* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loadMore_Container {
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.loadMore button {
  cursor: pointer;
  padding: 5px;
  font-weight: 800;
  font-size: 1rem;
}
