.loadMore_Container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadMore {
  cursor: pointer;
}
