* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sliderComponent {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
}
