* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sliderContainer {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sliderComponent {
  display: flex;
  position: relative;
}

.img_cont {
  height: 90vh;
}

.arrow {
  font-size: 3rem;
  color: whitesmoke;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

.arrow-left {
  left: 0;
  top: 50%;
}

.arrow-right {
  right: 0;
  top: 50%;
}

.current-indicator {
  padding: 8px;
  border-radius: 10px;
  border: none;
  margin: 0 2.5px;
  cursor: pointer;
}

.hideImageCont {
  display: none;
}

.updateCurrInd {
  background-color: gray;
}
